html{
  font-family: $font-family, sans-serif;
  color: $text;
  min-width: 320px;
  font-size: $font-size;
  background-color: #F2F2F2;
}

body{
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $bg-color;
  transition: margin-left, .2s;

  &--marginleft {
    margin-left: 320px;
  }

  @include lg-screen{
    margin-left: 320px;
    width: calc(100% - 320px);
  }
}

.title-section {
  border-top: 1px solid $second-color-light;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 100%);
  text-transform: uppercase;
  padding: 20px 0 20px 32px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px;
  color: $text-gray;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: $main-color;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &:hover {
    background-color: $main-color-hover;
  }
}

.icon--repair {
  background-image: url("../img/icon_repair.svg");
  margin-left: 8px;
}

.icon--checkstatus {
  background-image: url("../img/icon_checkstatus.svg");
  margin-left: 8px;
}

.long-button {
    background-color: $main-color;
    width: 120px;
    height: 32px;
    border-radius: 16px;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;

    &:hover {
      background-color: $main-color-hover;
    }

  &--icon-arrow {
    background-image: url("../img/icon_white_arrow.svg");
    background-position: 85% 50%;
    background-repeat: no-repeat;
  }
}

.button-icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: $main-color;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &:hover {
    background-color: $main-color-hover;
  }

  &--burger {
    background-image: url("../img/icon_burger.svg");
  }

  &--repair {
    background-image: url("../img/icon_repair.svg");
  }

  &--checkstatus {
    background-image: url("../img/icon_checkstatus.svg");
  }

  &--cross {
    background-image: url("../img/icon_cross.svg");
  }

  &--search {
    background-image: url("../img/icon_search.svg");
  }

  &--phone {
    background-image: url("../img/icon_phone.svg");
  }

  &--chat {
    background-image: url("../img/icon_chat.svg");
  }

  &--profile {
    background-image: url("../img/icon_profile.svg");
  }

  &[data-icon="sidebar-close"]{
     @include lg-screen{
       display: none;
     }
   }

  &[data-icon="chat-close"]{
    position: absolute;
    top: 48px;
    left: -60px;
    @media screen and (max-width: 440px){
      position: relative;
      top:0;
      left:0;
    }
  }

  &[data-icon="phone-close"]{
    position: absolute;
    top: 48px;
    left: -60px;
    @media screen and (max-width: 440px){
      position: relative;
      top:0;
      left:0;
    }
  }
}

.button {
  font-family: $font-family;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;

  &__text {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
  }

  &--readmore {
    background-image: url("../img/icon_arrows_down.svg");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
}

.button-show-hide {
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  margin-top: 20px;

  &--icon-arrowsdown {
    background: url("../img/icon_arrows_down.svg") 5% 50% no-repeat;
    transition: background-position, 0.3s ease;
    padding: 0 32px;
  }

  &--icon-arrowsup {
    background: url("../img/icon_arrows_up.svg") 5% 50% no-repeat;
    transition: background-position, 0.3s ease;
    padding: 0 32px;
  }

  &__textShow--visibility {
    display: none;
  }

  &__textHide--visibility {
    display: none;
  }

  @include swiper-brpoint(){
    display: none;
  }
}

.brands .swiper-container {
  @include swiper-brpoint(){
    margin: 0 auto;
    width: 280px;
    height: 125px;
  }
}

.tech .swiper-container {
  @include swiper-brpoint(){
    margin: 0 auto;
    width: 280px;
    height: 210px;
  }
}

.price .swiper-container {
  @include swiper-brpoint(){
    width: 280px;
    height: 235px;
  }
}

.swiper-pagination {
  @include swiper-breakpoint {
    display: none;
  }
}

.swiper-pagination-bullet {
  background-color: #DDDDDD;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}
