.modal-chat {
  position: fixed;
  z-index: 15;
  top: 0;
  right: -400px;
  overflow: hidden;
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: width, 0.25s ease;

  &__container {
    padding: 16px;
  }

  &__title {
    position: relative;
    margin: 30px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    white-space: nowrap;
    vertical-align: middle;
  }

  &__title:before {
    position: absolute;
    content:"";
    top: 0;
    left: -16px;
    width: 4px;
    height: 100%;
    background-color: $second-color;
  }

  &__text-field{
    margin-bottom: 14px;
  }

  &__text-field,
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: $font-family;
    font-size: 16px;
  }

  &__text-field::placeholder,
  &__textarea::placeholder {
    color: #B5B6BC;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    min-width: 270px;
  }

  &__text--maincolor {
    color: $main-color;
  }

  &__btn-container {
    text-align: right;
  }

  &--show {
    box-shadow: -16px 0 10px -10px rgba(14, 24, 80, 0.2);
    border-left: 1px solid $second-color-light;
    width: 320px;
    transform: translateX(-400px);
    @media screen and (min-width: 768px){
      width: 400px;
      transform: translateX(-400px);
    }
  }
}
