.modal-chat {
  position: absolute;
  z-index: 14;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  //box-shadow: 16px 0 10px -10px rgba(14, 24, 80, 0.2);
  transition: width, 0.25s ease;

  &__container {
    padding: 16px;
  }

  &__title {
    position: relative;
    margin: 30px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    white-space: nowrap;
    vertical-align: middle;
  }

  &__title:before {
    position: absolute;
    content:"";
    top: 0;
    left: -16px;
    width: 4px;
    height: 100%;
    background-color: #41F6D7;
  }

  &__text-field,
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: $font-family;
    font-size: 16px;
  }

  &__text-field::placeholder,
  &__textarea::placeholder {
    color: #B5B6BC;
  }

  &__text-field{
    margin-bottom: 14px;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    min-width: 270px;
  }

  &__text--maincolor {
    color: $main-color;
  }

  &__btn-container {
    text-align: right;
  }

  &__send-button {
    background-color: $main-color;
    width: 120px;
    height: 32px;
    border-radius: 16px;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;

    &--icon-arrow {
      background-image: url("../img/icon_white_arrow.svg");
      background-position: 85% 50%;
      background-repeat: no-repeat;
    }

    &:hover{
      background-color: $main-color-hover;
    }
  }

  &--show {
    width: 320px;
    box-shadow: -16px 0 10px -10px rgba(14, 24, 80, 0.2);
    @include xs-screen{
      width: 100%;
    }
  }
}
