.price {
  .price-table {
    list-style: none;
    padding: 10px 20px;

    &__header {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 10px 24px;
    color: $text-gray;
    background-color: $bg-color;

      @include swiper-brpoint {
        display: none;
      }
    }

    &__row {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 10px 0;
      @include swiper-brpoint {
        flex-direction: column;
      }
    }

    &__cell {
      width: 15%;
      min-width: 90px;

      @include swiper-brpoint {
        display: flex;
        flex-direction: column;
        padding: 5px;
        &:before {
          content: attr(data-title);
          display: block;
          color: $text-gray;
        }
      }
    }

    &__cell:first-child {
      width: 55%;
      @include swiper-brpoint {
        width: 190px;
      }
    }

    &__cell:last-child {
      text-align: right;
      min-width: 120px;

      @include swiper-brpoint {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }
  }

  .table-body {
    list-style: none;
    margin: 0;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 10px 24px;

    @include swiper-brpoint {
      display: flex;
      flex-direction: row;
      padding: 0;
      background-color: transparent;
    }

    &__item {
      border-bottom: 1px solid #eaeaea;
      @include swiper-brpoint {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        position: relative;
        height: 200px;
        max-width: 260px;
        padding-left: 10px;
        border: none;
        color: $text;
        font-size: 14px;
        background-color: #FFFFFF;
        border-radius: 6px;
        //margin-right: 16px;
      }
    }

    &__item:last-child {
      border-bottom: none;
    }
  }

  &__order {
    background-color: $main-color;
    width: 120px;
    height: 32px;
    border-radius: 16px;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;

    &:hover{
      background-color: $main-color-hover;
    }
  }

  &__order--icon-arrow {
    background-image: url("../img/icon_white_arrow.svg");
    background-position: 85% 50%;
    background-repeat: no-repeat;
  }

  &__text {
    margin: 30px;
    max-width: 420px;
  }

  &__offer {
    position: relative;
  }

  &__offer::after {
    position: absolute;
    content: url("../img/icon_red_arrow.svg");
    padding: 4px 0 0 5px;
  }

  &__link {
    font-family: $font-family;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: $text;

    &:hover{
      color: $main-color;
    }
  }
}
